<% picks.each do |pick|  %>
  <div class="product-card my-picks">
    <%= cl_image_tag("#{pick.campaign.product.photos.first.path}", :width=>110, :height=>110, :crop=>"fill", class: "recap-image")%>
    <div class="recap-body">
      <div class="title-and-price">
        <h3><%= pick.campaign.product.title.capitalize %></h3>
        <p><%= pick.campaign.product.pro.brand %></p>
      </div>
      <div class="pick-price">
        Prix max: <%= sprintf('%.2f', pick.price) %> €
      </div>
    </div>
  </div>

  <% if  pick.campaign.ongoing? %>
    <div class="campaign-link pending">
      <div id="timer-<%= pick.id %>" data-timer="<%= pick.campaign.expiration_date %>">
        <div id="clockdiv-<%= pick.id%>" class="clockdiv">
          <div class="dynamic-timer">
            <span class="days"></span>
            <div class="smalltext">j</div>
          </div>
          <div class="dynamic-timer">
            <span class="hours"></span>
            <div class="smalltext">h</div>
          </div>
          <div class="dynamic-timer">
            <span class="minutes"></span>
            <div class="smalltext">m</div>
          </div>
          <div class="dynamic-timer">
            <span class="seconds"></span>
            <div class="smalltext">s</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <script>
    function getTimeRemaining(endtime) {
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor((t / 1000) % 60);
      var minutes = Math.floor((t / 1000 / 60) % 60);
      var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
      var days = Math.floor(t / (1000 * 60 * 60 * 24));
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }
    function initializeClock(id, endtime) {
      var clock = document.getElementById(id);
      var daysSpan = clock.querySelector('.days');
      var hoursSpan = clock.querySelector('.hours');
      var minutesSpan = clock.querySelector('.minutes');
      var secondsSpan = clock.querySelector('.seconds');
      function updateClock() {
        var t = getTimeRemaining(endtime);
        daysSpan.innerHTML = t.days;
        hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
        minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
        secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
        if (t.total <= 0) {
          clearInterval(timeinterval);
          // document.getElementById("demo").innerHTML = "EXPIRED";
          // Ajax request to render either the show or the result page
          $.ajax({
            type: "GET",
            url: "<%= my_campaigns_user_path %>",
            dataType: 'script'
          });
        }
      }
      updateClock();
      var timeinterval = setInterval(updateClock, 1000);
    }
    var seeddue = $('#timer-<%= pick.id%>').data('timer')
    var deadline = new Date(Date.parse(seeddue.replace(/-/g, '/')));
    initializeClock('clockdiv-<%= pick.id%>', deadline);
    </script>
<% end %>
