<% picks.each do |pick|  %>
  <div class="product-card my-picks">
    <%= cl_image_tag("#{pick.campaign.product.photos.first.path}", :width=>110, :height=>110, :crop=>"fill", class: "recap-image")%>
    <div class="recap-body">
      <div class="title-and-price">
        <h3><%= pick.campaign.product.title.capitalize %></h3>
        <p><%= pick.campaign.product.pro.brand %></p>
      </div>
      <div class="pick-price">
        Prix max: <%= sprintf('%.2f', pick.price) %> €
      </div>
    </div>
  </div>
  <% if pick.card.present? && pick.campaign.ongoing? %>
    <div class="campaign-link reservation-done">
      <h5>En attente</h5>
      <%= link_to pick_path(pick) do %>
        <div class="btn-blue">Voir détails</div>
      <% end %>
    </div>
  <% elsif pick.campaign.ongoing? %>
    <div class="campaign-link pending">
      <div id="timer-<%= pick.id %>" data-timer="<%= pick.campaign.expiration_date %>">
        <%= render "users/timer", pick: pick  %>
        <div id="clockdiv-<%= pick.id%>" class="clockdiv">
          <div class="dynamic-timer">
            <span class="days"></span>
            <div class="smalltext">j</div>
          </div>
          <div class="dynamic-timer">
            <span class="hours"></span>
            <div class="smalltext">h</div>
          </div>
          <div class="dynamic-timer">
            <span class="minutes"></span>
            <div class="smalltext">m</div>
          </div>
          <div class="dynamic-timer">
            <span class="seconds"></span>
            <div class="smalltext">s</div>
          </div>
        </div>
      </div>
      <%= link_to new_pick_reservation_path(pick) do %>
        <div class="btn-orange">Valider participation</div>
      <% end %>
    </div>
  <% end %>
<% end %>
