<% picks.each do |pick|  %>
<%= render 'remove_pick_modal', pick: pick %>
  <div class="card-and-link-<%= pick.id %>">
    <div class="product-card">
      <%= cl_image_tag("#{pick.campaign.product.photos.first.path}", :width=>110, :height=>110, :crop=>"fill", class: "recap-image")%>
      <div class="recap-body">
        <% if pick.campaign.ab_campaign? %>
          <div class="title-and-price">
            <div class="space-between">
              <h3><%= pick.campaign.product.title.capitalize %></h3>
              <% if pick.campaign.ongoing? %>
                <%= link_to "#removePick-#{pick.id}", data: {toggle: "modal"} do %>
                  <i class="fa fa-times-circle"></i>
                <% end %>
              <% end %>
            </div>
            <p><%= pick.campaign.product.pro.brand %></p>
          </div>
          <div class="pick-price">
            <h3 class=test-title>Prix A/B</h3> <%= sprintf('%.2f', pick.price.truncate(2)) %> €
          </div>
        <% else %>
          <div class="title-and-price">
            <div class="space-between">
              <h3><%= pick.campaign.product.title.capitalize %></h3>
              <% if pick.campaign.ongoing? %>
                <%= link_to "#removePick-#{pick.id}", data: {toggle: "modal"} do %>
                  <i class="fa fa-times-circle"></i>
                <% end %>
              <% end %>
            </div>
            <p><%= pick.campaign.product.pro.brand %></p>
          </div>
          <div class="pick-price">
            <h3 class=test-title>Prix libre</h3> <%= sprintf('%.2f', pick.price.truncate(2)) %> €
          </div>
        <% end %>
      </div>
    </div>
    <% if pick.card.present? && pick.campaign.ongoing? %>
      <div class="campaign-link reservation-done">
        <div class="status-overview">En attente</div>
        <%= link_to pick_path(pick) do %>
          <div class="btn-white">Voir détails</div>
        <% end %>
      </div>
    <% elsif pick.campaign.ongoing? %>
      <div class="campaign-link pending">
        <div id="timer-<%= pick.id %>" data-timer="<%= pick.campaign.expiration_date %>">
          <%= render "users/timer", pick: pick  %>
          <div id="clockdiv-<%= pick.id%>" class="clockdiv">
            <div class="dynamic-timer">
              <span class="days"></span>
              <div class="smalltext">j</div>
            </div>
            <div class="dynamic-timer">
              <span class="hours"></span>
              <div class="smalltext">h</div>
            </div>
            <div class="dynamic-timer">
              <span class="minutes"></span>
              <div class="smalltext">m</div>
            </div>
            <div class="dynamic-timer">
              <span class="seconds"></span>
              <div class="smalltext">s</div>
            </div>
          </div>
        </div>
        <%= link_to new_pick_reservation_path(pick.id) do %>
          <div class="btn-orange">Valider participation</div>
        <% end %>
      </div>
      <% elsif !pick.campaign.ongoing? %>
        <div class="campaign-link expired">
          <div class="status-overview">Proposition non retenue</div>
        </div>
    <% end %>
  </div>
<% end %>
