

<%= render 'shared/navbar' %>
<%= render 'right-links-dashboard' %>
<div class="dashboard-container">
  <%= render 'dashboard-navigation' %>
  <div class="general-infos">
    <div class="feed-container">
      <div class="top-bloc">
        <h5>Vos campagnes</h5>
        <p>Retrouvez ici vos participations aux campagnes en cours.
         </p>
      </div>
      <div class="product-feed">
        <% if @picks.present? %>
          <div id="infinite-scrolling">
            <%= will_paginate @picks %>
          </div>
          <%= render "my_picks", picks: @picks %>
        <% else %>
          <h4>Vous ne participez actuellement à aucune campagne</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
