
<%= render 'shared/navbar' %>
<%= render 'right-links-dashboard' %>
<div class="dashboard-container">
  <%= render 'dashboard-navigation' %>
  <div class="general-infos">
    <div class="feed-container">
      <div class="top-bloc">
        <h5>Vos commandes</h5>
        <p>Retrouvez ici l'historique de vos commandes.
         </p>
      </div>
      <div class="product-feed">
        <% if @picks.present? %>
          <div id="infinite-scrolling">
            <%= will_paginate @picks %>
          </div>
          <%= render "my_orders", picks: @picks %>
        <% else %>
          <h4 class="no-data">Aucune commande validée</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
