<%= render 'shared/navbar' %>
<div class="page-container">
  first name : <%= @user.first_name %>
  <br>
  last name : <%= @user.last_name %>
  <br>
  email : <%= @user.email %>
  <br>
  slug : <%= @user.slug %>
</div>
