<div class="page-container">
  <div class="form-and-image">
    <div class="registration-form">
      <div class="logo-beta logo-form"><%= image_tag "logo.png", id: "logo", alt: "logo pickalgo color" %><br>©Beta 2018
      </div>
      <div class="form-elements">
        <h1>S'inscrire à Pickalgo pro</h1>
        <%= simple_form_for @lead do |f| %>
          <p id="beta-limit">Inscrivez-vous gratuitement, nous revenons très vite vers vous !</p>
          <div class="form-inputs">
            <div id="input-and-icon-first-name">
              <%= f.input :brand, label: false, placeholder:'Votre marque ou raison sociale', autofocus: true %>
              <span id="icon-firstname" class="fas fa-store"></span>
            </div>
            <div id="input-and-icon-last-name">
              <%= f.input :contact_person, placeholder:'Nom de la personne à contacter', label: false %>
              <span id="icon-lastname" class="fas fa-user"></span>
            </div>
            <div id="input-and-icon-email">
              <%= f.input :email, label: false, placeholder:'Email du contact' %>
              <span id="icon-envelope" class="fas fa-envelope"></span>
            </div>
            <div id="input-and-icon-password">
              <%= f.input :phone, label: false, placeholder: 'Téléphone du contact (optionnel)' %>
              <span id="icon-lock" class="fas fa-phone"></span>
            </div>
            <div id="input-and-icon-last-name">
              <%= f.input :referal, placeholder:'Comment nous avez-vous connu ? (optionnel)', label: false %>
              <span id="icon-lastname" class="fas fa-bullhorn"></span>
            </div>
          </div>
          <%= f.button :submit, "Soumettre", class: "btn-orange", id:"registration-cta" %>
        <% end %>
      </div>
    </div>
    <div class="image-background" style="background-image: linear-gradient(rgba(241, 243, 247, 0.6) 50%, transparent 100%), url('https://res.cloudinary.com/djmp0ivep/image/upload/v1538480440/tags.jpg');">
    </div>
  </div>
</div>


