<div class="explanation info-bloc">
  <div class="image-title-price">
    <%= cl_image_tag product.photos.first.path, :height=>75, :crop=>"scale" %>
    <div class="recap-paragraph">
      <div>
      <h4><%= product.title.capitalize %></h4>
      </div>
      Prix original: <%= sprintf('%.2f', product.price) %> €
    </div>
  </div>
  <% if product.expedition_costs.present? %>
    <div class="how-much">
      <div class="text">Coût livraison:</div>
      <p class="price"><%= sprintf('%.2f', product.expedition_costs) %> €</p>
    </div>
  <% end %>
  <div class="how-much">
    <div class="text">Prix:</div>
    <p class="price">
      <% if pick.campaign.ab_campaign? %>
        <%= sprintf('%.2f', pick.campaign.ab_final_price) %> €
      <% else %>
        <%= sprintf('%.2f', pick.campaign.price_1) %> €
      <% end %>
    </p>
  </div>
  <% if  product.expedition_costs.present? %>
    <div class="how-much last">
      <div class="text"><b>Coût total:</b></div>
      <p class="price">
        <% if pick.campaign.ab_campaign? %>
          <%= sprintf('%.2f', pick.campaign.product.expedition_costs + pick.campaign.ab_final_price) %> €
        <% else %>
          <%= sprintf('%.2f', pick.campaign.product.expedition_costs + pick.campaign.price_1) %> €
        <% end %>
      </p>
    </div>
  <% end %>
</div>
