<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn fas fa-times"></a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <%= link_to partners_path do %>
      <i class="fas fa-store"></i> <%= t(".pro", default: "Espace pro") %>
    <% end %>
    <%= link_to contact_path do %>
      <i class="fas fa-envelope"></i> <%= t(".contact", default: "Contact") %>
    <% end %>
    <%= link_to new_user_session_path do %>
      <i class="fas fa-user-circle"></i> <%= t(".legal", default: "Mon compte") %>
    <% end %>
  </div>

</div>


