  <div class="testimonies-container">
    <div class="testimony-box">
      <h2>
        Pourquoi Pickalgo ?
      </h2>

      <div class="testimonies">
        <div class="testimony">
          <%= cl_image_tag("jorge.jpg", :width=>150, :height=>150, :dpr=>2.0, :radius=>"max", :crop=>"fill", class: "user-photo", alt: "picture photo Jorge Pickalgo founder") %>
          <h4 class="testimony-title">Jorge, fondateur de Pickalgo</h4>
          <div class="testimony-text">
            "Aider les vendeurs à optimiser le prix de leurs promos et permettre aux testeurs d'être récompensés pour leur implication"
          </div>
        </div>
        <div class="testimony">
          <%= cl_image_tag("jenny.jpg", :width=>150, :height=>150, :gravity=>"face", :dpr=>2.0, :radius=>"max", :crop=>"fill", class: "user-photo", alt: "picture photo Jenny founder PetitVoyou") %>
          <h4 class="testimony-title">Jenny, fondatrice de <a href="https://petitvoyou.com" target="_blank">PetitVoyou</a></h4>
          <div class="testimony-text">
            "Avec Pickalgo je sais exactement quel prix ma promo doit offrir pour atteindre mes objectifs et satisfaire mes clients"
          </div>
        </div>
        <div class="testimony">
          <%= cl_image_tag("jules.jpg", :width=>150, :height=>150, :gravity=>"face", :dpr=>2.0, :radius=>"max", :crop=>"fill", class: "user-photo", alt: "picture photo Mr P Pickalgo earlybird") %>
          <h4 class="testimony-title">Jules, testeur de promo sur Pickalgo</h4>
          <div class="testimony-text">
            "Formuler une proposition d'achat me pousse à être objectif dans mon avis sur la promo, et m'assure d'être gagnant. Bien vu !"
          </div>
        </div>
      </div>
      <% if @page == "partners" %>
        <%= link_to "Plus d'infos", more_infos_path, class:"btn-orange cta"%>
      <% elsif @page == "home" %>
        <%= link_to "S'inscrire", new_user_registration_path, class:"btn-orange cta"%>
      <% end %>
    </div>
  </div>
