<%= render 'cookies_eu/consent_banner' %>
<div class="page-container">
  <div class="nav-and-banner" style="background-image: linear-gradient(rgba(241, 243, 247,1) 50%, transparent 100%), url('https://res.cloudinary.com/djmp0ivep/image/upload/v1538480440/tags.jpg');">
    <header class="header-home">
      <div class="logo-and-log">
        <%= link_to home_path do %>
          <div class="logo-beta"><%= image_tag "logo.png", id: "logo", alt: "logo pickalgo color" %><br>©Beta 2018
          </div>
        <% end %>
      </div>
      <div class="right-links">
        <%= link_to "Espace Pro", partners_path %>
        <%= link_to "Contact", contact_path %>
        <%= link_to "Mon Compte", new_user_session_path %>
      </div>
      <%= render "pages/right-links-small" %>
    </header>
    <div class="banner-container">
      <div class="banner-content">
        <h1>Devenez testeur de promos !</h1>
        <p class="concept">Parce qu'il est difficile pour un vendeur de trouver le meilleur prix pour sa promo, il y a Pickalgo... et vous ! Avec Pickalgo devenez testeur de promos et bénéficiez du meilleur prix avant tout le monde.
        </p>
        <div class="cta-links">
          <a href="#how-it-works">
            <div class="btn-white go-to">Concept</div>
          </a>
          <%= link_to new_user_registration_path, class:"btn-orange cta-link" do %>
            S'inscrire
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="how-it-works" id="how-it-works">
    <h3>Un produit vous plaît ?
    </h3>
    <div class="steps">
      <div class="icon-and-text-no-shaddow" id="first">
        <%= image_tag "determine.svg", class: "action-image", alt: "icon image think svg" %>
        <div class="quote">Déterminez...</div>
        <div class="step-text">
          le prix maximal vous seriez prêt à payer pour en faire l'acquisition dès à présent
        </div>
      </div>
      <div class="icon-and-text-no-shaddow" id="second">
        <%= image_tag "choose.svg", class: "action-image", alt: "icon image act svg" %>
        <div class="quote">Validez...</div>
        <div class="step-text">
          une proposition d'achat du montant maximal que vous avez déterminé
        </div>
      </div>
      <div class="icon-and-text-no-shaddow" id="third">
        <%= image_tag "successful_purchase.svg", class: "action-image", alt: "icon image successful purchase svg" %>
        <div class="quote">Profitez...</div>
        <div class="step-text">
          avant tout le monde du prix promotionnel qui aura été calculé
        </div>
      </div>
    </div>
  </div>
  <div id="conclusion">
    <div class="how-it-works">
      <h3>Comment ça marche ?</h3>
      <div class="steps">
        <div class="icon-and-text-no-shaddow" id="fourth">
          <%= image_tag "analyze.svg", class: "action-image", alt: "icon image analyse svg" %>
          <div class="quote-orange">Nous calculons...</div>
          <div class="step-text">
            la promo qui permet de compenser la meilleure réduction du prix par une augmentation des ventes
          </div>
        </div>
        <div class="icon-and-text-no-shaddow" id="fifth">
          <%= image_tag "win.svg", class: "action-image", alt: "icon image win svg" %>
          <div class="quote-orange">C'est gagné si</div>
          <div class="step-text">
            <ul style="padding-left: 0">
              <li>Vous proposiez une promo à 180 €</li>
              <li>La promo est fixée à 140 €</li>
              <li>Vous obtenez le produit pour 140 €</li>
            </ul>
          </div>
        </div>
        <div class="icon-and-text-no-shaddow" id="sixth">
          <%= image_tag "no_win.svg", class: "action-image", alt: "icon image successful purchase svg" %>
          <div class="quote-orange">Rien de perdu</div>
          <div class="step-text">
            <ul style="padding-left: 0">
              <li>Vous proposiez une promo à 135 €</li>
              <li>La promo est fixée à 140 €</li>
              <li>Vous ne pouvez pas profiter de la promo</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonies-container">
    <div class="testimony-box">
      <h2>
        <span>Pourquoi Pickalgo ?</span>
      </h2>

      <div class="testimonies">
        <div class="testimony">
          <%= cl_image_tag("1wh4IX4g.jpg", :width=>150, :height=>150, :gravity=>"face", :dpr=>2.0, :radius=>"max", :crop=>"fill", class: "user-photo", alt: "picture photo Jorge Pickalgo founder") %>
          <h4 class="testimony-title">Jorge, fondateur de Pickalgo</h4>
          <div class="testimony-text">
            "Aider les vendeurs à trouver le meilleur prix pour leurs promos et faire bénéficier nos testeurs des meilleurs prix avant les autres"
          </div>
        </div>
        <div class="testimony">
          <%= cl_image_tag("jenny.jpg", :width=>150, :height=>150, :gravity=>"face", :dpr=>2.0, :radius=>"max", :crop=>"fill", class: "user-photo", alt: "picture photo Jenny founder PetitVoyou") %>
          <h4 class="testimony-title">Jenny, fondatrice de <a href="https://petitvoyou.com" target="_blank">PetitVoyou</a></h4>
          <div class="testimony-text">
            "Avec Pickalgo je sais exactement quel prix ma promo doit offrir pour atteindre mes objectifs et satisfaire mes clients"
          </div>
        </div>
        <div class="testimony">
          <%= cl_image_tag("do.jpg", :width=>150, :height=>150, :gravity=>"face", :dpr=>2.0, :radius=>"max", :crop=>"fill", class: "user-photo", alt: "picture photo Mr P Pickalgo earlybird") %>
          <h4 class="testimony-title">Do, "oiseau précoce" de Pickalgo</h4>
          <div class="testimony-text">
            "Utiliser mon avis pour mieux me satisfaire, en voilà une bonne idée !"
          </div>
        </div>
      </div>
      <%= link_to new_user_registration_path do %>
        <div class="cta">
          <div class="btn-orange">S'inscrire</div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'shared/footer' %>

</div>
