<%= render 'cookies_eu/consent_banner' %>
<%= render 'right-links-testor' %>
<div class="page-container">
  <div class="nav-and-banner" style="background-image: linear-gradient(rgba(241, 243, 247,1) 50%, transparent 100%), url('https://res.cloudinary.com/djmp0ivep/image/upload/v1538480440/tags.jpg');">
    <header class="header-home">
      <div class="logo-and-log">
        <%= link_to home_path do %>
          <div class="logo-beta"><%= image_tag "logo.png", id: "logo", alt: "logo pickalgo color" %><br>©Beta 2018
          </div>
        <% end %>
      </div>
      <div class="right-links">
        <%= link_to "Espace Pro", partners_path %>
        <%= link_to "Contact", contact_path %>
        <%= link_to "Mon Compte", new_user_session_path %>
      </div>
      <div class="right-links-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <div class="banner-container">
      <div class="banner-content">
        <h1>Devenez testeur de promo !</h1>
        <p class="concept">Aidez les produits qui vous plaisent à adopter le meilleur prix promotionnel. Profitez en retour de la meilleure promo négociée pour vous.
        </p>
        <div class="cta-links">
          <a href="#how-it-works">
            <div class="btn-white go-to">Concept</div>
          </a>
          <%= link_to new_user_registration_path, class:"btn-orange cta-link" do %>
            S'inscrire
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="how-it-works" id="how-it-works">
    <h2>Un produit vous plaît ?
    </h2>
    <div class="steps">
      <div class="icon-and-text-no-shaddow" id="first">
        <%= image_tag "choose.svg", class: "action-image", alt: "icon image choose svg" %>
        <div class="quote">Déterminez...</div>
        <div class="step-text">
          le prix maximal vous seriez prêt à payer pour ce produit
        </div>
      </div>
      <div class="icon-and-text-no-shaddow" id="second">
        <%= image_tag "pay.svg", class: "action-image", alt: "icon image act svg" %>
        <div class="quote">Validez...</div>
        <div class="step-text">
          une proposition d'achat du montant que vous avez déterminé
        </div>
      </div>
      <div class="icon-and-text-no-shaddow" id="third">
        <%= image_tag "successful_purchase.svg", class: "action-image", alt: "icon image successful purchase svg" %>
        <div class="quote">Profitez...</div>
        <div class="step-text">
          du meilleur prix promotionnel spécialement négocié pour vous
        </div>
      </div>
    </div>
  </div>
  <div id="conclusion">
    <div class="how-it-works">
      <h2>Comment ça marche ?</h2>
      <div class="conclusion-cases">
        <div class="icon-and-text-no-shaddow" id="fourth">
          <%= image_tag "select.svg", class: "action-image", alt: "icon image select successful order svg" %>
          <div class="quote-orange">C'est gagné :</div>
          <div class="step-text">
            <ul style="padding-left: 0">
              <li>Vous proposez une promo à 180 €</li>
              <li>La promo négociée est à 140 €</li>
              <li>Vous obtenez le produit pour 140 €</li>
            </ul>
          </div>
        </div>
        <div class="icon-and-text-no-shaddow" id="fifth">
          <%= image_tag "reject.svg", class: "action-image", alt: "icon image reject svg" %>
          <div class="quote-orange">Rien de perdu :</div>
          <div class="step-text">
            <ul style="padding-left: 0">
              <li>Vous proposez une promo à 135 €</li>
              <li>La promo négociée est à 140 €</li>
              <li>Vous ne profitez pas de la promo</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'testimonies' %>
  <%= render 'shared/footer' %>

</div>
