<%= render 'cookies_eu/consent_banner' %>
<%= render 'right-links-testor' %>
<div class="page-container">
  <div class="nav-and-banner" style="background-image: linear-gradient(rgba(241, 243, 247,1) 50%, transparent 100%), url('https://res.cloudinary.com/djmp0ivep/image/upload/v1538480440/tags.jpg');">
    <header class="header-home">
      <div class="logo-and-log">
        <%= link_to home_path do %>
          <div class="logo-beta"><%= image_tag "logo.png", id: "logo", alt: "logo pickalgo color" %><br>©Beta 2018
          </div>
        <% end %>
      </div>
      <div class="right-links">
        <%= link_to "Espace Testeurs", home_path, class:"selected" %>
        <%= link_to "Espace Pros", pros_path %>
        <%= link_to "Mon Compte", new_user_session_path %>
      </div>
      <div class="right-links-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <div class="banner-container">
      <div class="banner-content">
        <h1>Devenez testeur de promo !</h1>
        <p class="concept">Aidez les produits qui vous plaisent à adopter le meilleur prix promotionnel. Profitez de la meilleure promo avant tout le monde.
        </p>
        <div class="cta-links">
          <a href="#how-it-works">
            <div class="btn-white go-to">Concept</div>
          </a>
          <%= link_to new_user_registration_path, class:"btn-orange cta-link" do %>
            S'inscrire
          <% end %>
        </div>
      </div>
    </div>
  </div>
    <div id="test-type">
    <div class="how-it-works">
      <h2>Participez à différents tests:</h2>
      <div class="conclusion-cases">
        <div class="icon-and-text-no-shaddow" id="fourth">
          <%= image_tag "ab.svg", class: "action-image", alt: "icon image select a/b test choice svg" %>
          <div class="quote-orange">A/B Test</div>
          <div class="step-text">
            Nous présentons à chaque testeur de façon aléatoire un des prix auquel le vendeur pense proposer sa promo.
          </div>
        </div>
        <div class="icon-and-text-no-shaddow" id="fifth">
          <%= image_tag "free.svg", class: "action-image", alt: "icon image free-price svg" %>
          <div class="quote-orange">Prix libre</div>
          <div class="step-text">
            Déterminez vous-même le prix maximal que la promo doit adopter pour être attractive. Vous avez carte blanche.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="how-it-works">
    <div class="how-it-works">
      <h2>Comment ça marche ?
      </h2>
      <div class="steps">
        <div class="icon-and-text-no-shaddow" id="first">
          <%= image_tag "choose.svg", class: "action-image", alt: "icon image choose svg" %>
          <div class="quote">Déterminez...</div>
          <div class="step-text">
            le prix maximal que vous êtes prêt à payer et répondez simplement à la question qui vous est posée
          </div>
        </div>
        <div class="icon-and-text-no-shaddow" id="second">
          <%= image_tag "pay.svg", class: "action-image", alt: "icon image act svg" %>
          <div class="quote">Validez...</div>
          <div class="step-text">
            une proposition d'achat si vous êtes prêt à payer un prix inférieur ou égal au prix déterminé en amont
          </div>
        </div>
        <div class="icon-and-text-no-shaddow" id="third">
          <%= image_tag "successful_purchase.svg", class: "action-image", alt: "icon image successful purchase svg" %>
          <div class="quote">Profitez...</div>
          <div class="step-text">
            du prix promotionnel le plus bas spécialement négocié pour les parcitipants à la campagne de test
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'testimonies' %>
  <%= render 'shared/footer' %>

</div>
