<%= render 'right-links-pro' %>
<div class="page-container">
  <div class="nav-and-banner" style="background-image: linear-gradient(rgba(241, 243, 247,1) 50%, transparent 100%), url('https://res.cloudinary.com/djmp0ivep/image/upload/v1538480440/tags.jpg');">
    <header class="header-home">
      <div class="logo-and-log">
        <%= link_to root_path do %>
          <div class="logo-beta"><%= image_tag "logo.png", id: "logo", alt: "logo pickalgo color" %><br>©Beta 2018
          </div>
        <% end %>
      </div>
      <div class="right-links">
        <%= link_to "Espace Testeurs", home_path %>
        <%= link_to "Contact", contact_path %>
        <%= link_to " Mon Compte pro", new_user_session_path %>
      </div>
      <div class="right-links-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <div class="banner-container">
      <div class="banner-content" id="banner-content-partners">
        <h1>Le prix d'une promo ne s'invente pas, il se découvre.</h1>
        <p class="concept">Acquisition, fidélisation, déstockage, volumes, CA, marge… Sur Pickalgo découvrez quel prix permettra à votre promo d'atteindre l'objectif que vous vous êtes fixé.
        </p>
        <div class="cta-links">
          <a href="#features-container">
            <div class="btn-white go-to" id="concept">Concept</div>
          </a>
          <%= link_to new_user_registration_path, class:"btn-orange cta-link" do %>
            Créér un compte pro
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="how-it-works" id="features-container">
    <h3>Comment ça marche ?
    </h3>
    <div class="steps">
      <div class="icon-and-text-no-shaddow" id="first">
        <%= image_tag "account.svg", class: "action-image", alt: "icon image create partner account svg" %>
        <div class="quote">Compte</div>
        <div class="step-text">
          Crééz gratuitement et en moins de 2 minutes, votre compte partenaire sur Pickalgo
        </div>
      </div>
      <div class="icon-and-text-no-shaddow" id="second">
        <%= image_tag "launch.svg", class: "action-image", alt: "icon image launch campaign svg" %>
        <div class="quote">Campagne</div>
        <div class="step-text">
          Lancez une campagne en présentant le produit pour lequel vous souhaitez proposer une promo
        </div>
      </div>
      <div class="icon-and-text-no-shaddow" id="third">
        <%= image_tag "collect.svg", class: "action-image", alt: "icon image collect svg" %>
        <div class="quote">Collecte</div>
        <div class="step-text">
          Nous collectons pendant 7 jours les propositions des testeurs intéressés par votre produit
        </div>
      </div>
    </div>
  </div>
  <div id="conclusion">
    <div class="how-it-works">
      <h3>Et ensuite ?</h3>
      <div class="steps">
        <div class="icon-and-text-no-shaddow" id="fourth">
          <%= image_tag "dashboard.svg", class: "action-image", alt: "icon image  dashboard analyse svg" %>
          <div class="quote-orange">Analyse</div>
          <div class="step-text">
            Nous vous fournissons les données et les analyses relatives à la campagne
          </div>
        </div>
        <div class="icon-and-text-no-shaddow" id="fifth">
          <%= image_tag "win.svg", class: "action-image", alt: "icon image win svg" %>
          <div class="quote-orange">Décision</div>
          <div class="step-text">
            Grace aux analyses, décidez du prix qui vous permet d'atteindre l'objectif souhaité
          </div>
        </div>
        <div class="icon-and-text-no-shaddow" id="sixth">
          <%= image_tag "no_win.svg", class: "action-image", alt: "icon image successful purchase svg" %>
          <div class="quote-orange">Commandes</div>
          <div class="step-text">
            Validez les commandes de nos testeurs au prix que vous aurez déterminé
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonies-container">
    <div class="testimony-box">
      <h2>
        <span>Pourquoi Pickalgo ?</span>
      </h2>

      <div class="testimonies">
        <div class="testimony">
          <%= cl_image_tag("1wh4IX4g.jpg", :width=>150, :height=>150, :gravity=>"face", :dpr=>2.0, :radius=>"max", :crop=>"fill", class: "user-photo", alt: "picture photo Jorge Pickalgo founder") %>
          <h4 class="testimony-title">Jorge, fondateur de Pickalgo</h4>
          <div class="testimony-text">
            "Aider les vendeurs à trouver le meilleur prix pour leurs promos et faire bénéficier nos testeurs des meilleurs prix avant les autres"
          </div>
        </div>
        <div class="testimony">
          <%= cl_image_tag("jenny.jpg", :width=>150, :height=>150, :gravity=>"face", :dpr=>2.0, :radius=>"max", :crop=>"fill", class: "user-photo", alt: "picture photo Jenny founder PetitVoyou") %>
          <h4 class="testimony-title">Jenny, fondatrice de <a href="https://petitvoyou.com" target="_blank">PetitVoyou</a></h4>
          <div class="testimony-text">
            "Avec Pickalgo je sais exactement quel prix ma promo doit offrir pour atteindre mes objectifs et satisfaire mes clients"
          </div>
        </div>
        <div class="testimony">
          <%= cl_image_tag("do.jpg", :width=>150, :height=>150, :gravity=>"face", :dpr=>2.0, :radius=>"max", :crop=>"fill", class: "user-photo", alt: "picture photo Mr P Pickalgo earlybird") %>
          <h4 class="testimony-title">Do, "oiseau précoce" de Pickalgo</h4>
          <div class="testimony-text">
            "Utiliser mon avis pour mieux me satisfaire, en voilà une bonne idée !"
          </div>
        </div>
      </div>
      <%= link_to new_user_registration_path do %>
        <div class="cta">
          <div class="btn-orange">Créér un compte pro</div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'shared/footer' %>

</div>
