<% content_for :meta_title, "Atteignez efficiement vos objectifs" %>
<% content_for :meta_description, "Sur Pickalgo impliquez vos clients dans la conception de vos promos. Vous découvrirez ainsi le prix qui permettra à votre promo d'atteindre son objectif de la façon la plus efficiente." %>
<%= render 'right-links-pro' %>
<div class="page-container">
  <div class="nav-and-banner" style="background-image: linear-gradient(rgba(241, 243, 247,1) 50%, transparent 100%), url('https://res.cloudinary.com/djmp0ivep/image/upload/v1538480440/tags.jpg');">
    <header class="header-home">
      <div class="logo-and-log">
        <%= link_to root_path do %>
          <div class="logo-beta"><%= image_tag "logo.png", id: "logo", alt: "logo pickalgo color" %><br>©Beta 2018
          </div>
        <% end %>
      </div>
      <div class="right-links">
        <%= link_to "Espace Testeurs", home_path %>
        <%= link_to "Contact", contact_path %>
        <%= link_to " Mon Compte pro", new_user_session_path %>
      </div>
      <div class="right-links-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <div class="banner-container">
      <div class="banner-content">
        <h1>Objectif <span id="typer">.</span></h1>
        <p class="concept">Sur Pickalgo impliquez vos clients dans la conception de vos promos. Vous découvrirez ainsi le prix qui permettra à votre promo d'atteindre son objectif de la façon la plus efficiente.
        </p>
        <div class="cta-links">
          <a href="#how-it-works">
            <div class="btn-white go-to" id="concept">Concept</div>
          </a>
          <%= link_to "Plus d'infos", more_infos_path, class:"btn-orange cta-link"%>
        </div>
      </div>
    </div>
  </div>
  <div class="how-it-works" id="how-it-works">
    <h2>Comment ça marche ?
    </h2>
    <div class="steps">
      <div class="icon-and-text-no-shaddow" id="first">
        <%= image_tag "launch.svg", class: "action-image", alt: "icon image launch campaign svg" %>
        <div class="quote">Campagne</div>
        <div class="step-text">
          Lancez une campagne en présentant le produit pour lequel vous souhaitez proposer une promo
        </div>
      </div>
      <div class="icon-and-text-no-shaddow" id="third">
        <%= image_tag "determine.svg", class: "action-image", alt: "icon image think svg" %>
        <div class="quote">Décidez</div>
        <div class="step-text">
          Décidez du prix préférentiel que vous êtes prêt à accorder aux participants en fonction de leur nombre
        </div>
      </div>
      <div class="icon-and-text-no-shaddow" id="second">
        <%= image_tag "choose.svg", class: "action-image", alt: "icon image choose svg" %>
        <div class="quote">Enquête</div>
        <div class="step-text">
          Tout acheteur intéressé émet une proposition d'achat du montant maximal qu'il est prêt à payer pour votre produit
        </div>
      </div>
    </div>
  </div>
  <div id="conclusion">
    <div class="how-it-works">
      <h2>Fin de la campagne</h2>
      <div class="steps">
        <div class="icon-and-text-no-shaddow" id="sixth">
          <%= image_tag "select.svg", class: "action-image", alt: "icon image select successful order svg" %>
          <div class="quote-orange">Validez...</div>
          <div class="step-text">
            les commandes des acheteurs qui proposaient un prix supérieur où égal à votre prix préférentiel
          </div>
        </div>
        <div class="icon-and-text-no-shaddow" id="sixth">
          <%= image_tag "reject.svg", class: "action-image", alt: "icon image reject svg" %>
          <div class="quote-orange">Déclinez...</div>
          <div class="step-text">
            automatiquement les propositions des acheteurs qui sont inférieures au prix que vous avez déterminé
          </div>
        </div>
        <div class="icon-and-text-no-shaddow" id="fifth">
          <%= image_tag "optimize.svg", class: "action-image", alt: "icon image analyse optimosation svg" %>
          <div class="quote-orange">Détermiez...</div>
          <div class="step-text">
            grâce aux analyses des données de la campagne, le meilleur prix que votre promo doit adopter
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'testimonies' %>
  <%= render 'shared/footer' %>

</div>

<% content_for(:after_js) do %>
  <%= javascript_include_tag 'home'%>
<% end %>
