<% content_for :meta_title, "Anticipez la courbe de sensibilité de vos promos" %>
<% content_for :meta_description, "Avec Pickalgo testez vos promos en zone non exposée pour déterminer le meilleur prix à pratiquer pour réussir votre prochaine promo." %>
<%= render 'right-links-pro' %>
<div class="page-container">
  <div class="nav-and-banner" style="background-image: linear-gradient(rgba(241, 243, 247,1) 50%, transparent 100%), url('https://res.cloudinary.com/djmp0ivep/image/upload/v1538480440/tags.jpg');">
    <header class="header-home">
      <div class="logo-and-log">
        <%= link_to root_path do %>
          <div class="logo-beta"><%= image_tag "logo.png", id: "logo", alt: "logo pickalgo color" %><br>©Beta 2018
          </div>
        <% end %>
      </div>
      <div class="right-links">
        <%= link_to "Espace Testeurs", home_path %>
        <%= link_to "Espace Pros", pros_path, class:"selected" %>
        <%= link_to " Mon Compte pro", new_pro_session_path %>
      </div>
      <div class="right-links-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <div class="banner-container">
      <div class="banner-content">
        <h1>Anticipez, testez, réussissez</h1>
        <p class="concept">Anticipez la courbe de sensibilité au prix de vos promos. Avec Pickalgo testez vos promos en zone non exposée pour déterminer le meilleur prix à pratiquer afin de réussir votre prochaine promo.
        </p>
        <div class="cta-links">
          <%= link_to "Plus d'infos", more_infos_path, class:"btn-white cta-link go-to"%>
          <%= link_to "Créer un compte pro", new_pro_registration_path, class:"btn-orange cta-link"%>
        </div>
      </div>
    </div>
  </div>

  <div id=target>
    <h2 class="steps-title">Votre marché évolue</h2>
    <p class="what">Le prix promotionnel d'hier ne génèrera pas des volumes constants entre aujourd'hui et demain. Anticipez la courbe de sensibilité au prix de toutes vos promos pour en assurer le succès.</p>
    <div class="step-pro reverse" id="first">
      <div class="text">
        <h3><i class="fas fa-flask"></i> Testez en zone non exposée</h3>
        <div class="step-text">
        <p><i class="fas fa-plus"></i><b>Testez simultanément différents prix</b> pour découvrir lequel est le plus adapté à l'atteinte de votre objectif.</p>
        <p><i class="fas fa-plus"></i><b>Découvrez le prix maximal</b> que chaque client est prêt à payer pour votre produit.</p>
        <p><i class="fas fa-plus"></i>Confirmez ou infirmez l'exhaustivité de vos hypothèses prix/volume <b>sans impacter votre image de marque.</b></p>
      </div>
        <%= link_to more_infos_path do %>
          <div class="btn more-infos">En savoir plus</div>
        <% end %>
      </div>
      <div class="step-pro-image-container">
        <%= image_tag "choice.svg", class:"step-pro-image"  %>
      </div>
    </div>
  </div>
  <div class="step-pro regular" id="second">
    <div class="step-pro-image-container">
      <%= image_tag "select.svg", class:"step-pro-image"  %>
    </div>
    <div class="text">
      <h3><i class="fas fa-chart-area"></i> Collectez des données fiables</h3>
      <div class="step-text">Contrairement à une étude de marché traditionnelle, les participants sont réellement prêts à acquerir votre produit. Collectez des <b>données fiables et qualifiées</b> matérialisées par des propositions d'achats de la part des clients intéressés par votre produit.</div>
    </div>
  </div>
  <div class="step-pro reverse" id="third">
    <div class="text">
      <h3><i class="fas fa-filter"></i> Optimisez la transformation</h3>
      <div class="step-text">
        Les données récoltées vous permettent de mesurer l'impact de chaque prix sur les volumes et le chiffre d'affaires. <b>Déterminez facilement</b> quel prix vous permettra de générer les volumes nécessaires à l'atteinte de votre objectif.
      </div>
    </div>
    <div class="step-pro-image-container">
      <%= image_tag "optimize.svg", class:"step-pro-image"  %>
    </div>
  </div>
  <div class="step-pro regular" id="fourth">
    <div class="step-pro-image-container">
      <%= image_tag "lift-off.svg", class:"step-pro-image"  %>
    </div>
    <div class="text">
      <h3><i class="fas fa-play-circle"></i> En route vers vos objectifs</h3>
      <div class="step-text">
        Fort des enseignements de vos tests, lancez des promos avec <b>l'assurance de proposer le prix optimal</b> pour atteindre vos objectifs de la façon la plus efficiente.
      </div>
    </div>
  </div>
  <%= render 'testimonies' %>
  <%= render 'shared/footer' %>

</div>
