<%= @customer_infos["brand"]%>
<%= @customer_infos["last4"] %>
<%= @customer_infos["exp_month"]%>/<%= @customer_infos["exp_year"] %>

<div class="validate-form-button">
  <%= link_to pick_reservations_path(@pick),  method: :post do %>
    <button class="booking-button btn-orange" id="with_customer_id">
      <i class="fa fa-lock"></i>
      <span>Confirmer réservation</span>
    </button>
  <% end %>
</div>
