<div class="display-card yellow-selected">
  <i class="fas fa-credit-card"></i>
  <span><%= @customer_infos["brand"]%></span>
  <span>**** **** **** <%= @customer_infos["last4"] %></span>
  <span><%= @customer_infos["exp_month"]%>/<%= @customer_infos["exp_year"] %></span>
</div>
<div class="or">OU</div>
<div class="new-card display-card">
  Utiliser une autre carte
</div>

<div class="validate-form-button">
  <%= link_to pick_reservations_path(@pick),  method: :post do %>
    <button class="booking-button btn-orange" id="with_customer_id">
      <i class="fa fa-lock"></i>
      <span>Confirmer réservation</span>
    </button>
  <% end %>
</div>
