<div class="explanation info-bloc">
  <div class="image-title-price">
    <%= cl_image_tag product.photos.first.path, :height=>75, :crop=>"scale" %>
    <div class="recap-paragraph">
      <div>
      <h4><%= product.title.capitalize %></h4>
      </div>
      Prix original: <%= sprintf('%.2f', product.price.truncate(2)) %> €
    </div>
  </div>
  <% if product.expedition_costs.present? %>
    <div class="how-much">
      <div class="text">Coût livraison:</div>
      <p class="price"><%= sprintf('%.2f', product.expedition_costs.truncate(2)) %> €</p>
    </div>
  <% end %>
  <div class="how-much">
    <div class="text">Prix max:</div>
    <p class="price"><span class="max-symbol">⩽</span><%= sprintf('%.2f', @pick.price.truncate(2)) %> €</p>
  </div>
  <% if  product.expedition_costs.present? %>
    <div class="how-much last">
      <div class="text"><b>Coût total max:</b></div>
      <p class="price"><span class="max-symbol">⩽</span><%= sprintf('%.2f', product.expedition_costs.truncate(2) + @pick.price.truncate(2)) %>€</p>
    </div>
  <% end %>
</div>

