<div class="info-detail">
  <% if @pick.campaign.test_type == "Test ouvert" %>
    Si nous pouvons obtenir un prix inférieur à <%= sprintf('%.2f', @pick.campaign.product.expedition_costs + @pick.price) %>€ (livraison comprise), vous en bénéficierez à la fin de la campagne. La carte débitée sera celle renseignée ci-dessous. <b>Vous n'avez rien à payer aujourd'hui.</b>
  <% else %>
    Confirmez votre réservation pour bénéficier du meilleur prix promotionnel. La carte renseignée ci-dessous sera débitée à la fin de la campagne d'un montant inférieur ou égal à <%= sprintf('%.2f', @pick.campaign.product.expedition_costs + @pick.price) %>€ (livraison comprise). <b>Vous n'avez rien à payer aujourd'hui.</b>
  <% end %>
</div>
<% if @customer_infos.present? %>
  <%= render 'card' %>
  <%= form_tag pick_reservations_path(@pick), class: "hidden", id: "reservation-form" do %>
    <div class="form-row">
      <label for="card-element">
        Carte
      </label>
      <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
      </div>

      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
    </div>
    <div class="validate-form-button">
      <button class="booking-button btn-orange" id="validate-reservation">
        <i class="fa fa-lock"></i>
        <span>Confirmer réservation</span>
    </button>
    </div>
  <% end %>
<% else %>
  <%= form_tag pick_reservations_path(@pick), id: "reservation-form" do %>
    <div class="form-row">
      <label for="card-element">
        Carte
      </label>
      <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
      </div>

      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
    </div>
    <div class="validate-form-button">
      <button class="booking-button btn-orange" id="validate-reservation">
        <i class="fa fa-lock"></i>
        <span>Confirmer réservation</span>
      </button>
    </div>
  <% end %>
<% end %>
