<script src="https://js.stripe.com/v3/"></script>
<%= render 'shared/navbar' %>
<div class="page-container">
  <div class="campaigns-container" id="feed">
    <div class="two-parts">
      <div class="left-recap">
        <h5 id="recap">Récap</h5>
        <%= render 'recap' %>
      </div>
      <div class="right-forms">
        <div class="delivery">
          <h5 id="address-top">Livraison</h5>
          <div class="hidden" id="address-errors">Merci de remplir les informations nécessaires à la validation</div>
          <div class="info-bloc">
            <%= render 'address', address: @address %>
          </div>
        </div>
        <div class="reservation">
          <h5>Réservation</h5>
          <div class="info-bloc">
            <%= render 'stripe-infos' %>
            <div class="loader-container hidden">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/stripe-form" %>
