<h1>Commande confirmée pour <%= @campaign.product.title %></h1>

<p><%= @user.first_name %>,</p>

<p>Votre participation à la campagne pour <%= @campaign.product.title %> a contribué à faire découvrir quel prix adopter pour faire de ses opérations de promo un succès. Pour vous en remercier, vous profitez de <%= @campaign.product.title %> pour seulement <%= sprintf('%.2f', @campaign.ab_final_price.truncate(2)) %> €.</p>

<p>Voir le détail de votre commande</p>

<p>A très vite sur Pickalgo !</p>
