<div class="page-container">
  <div class="form-and-image">
    <div class="registration-form">
      <div class="logo-beta logo-form"><%= image_tag "logo.png", id: "logo", alt: "logo pickalgo color" %><br>©Beta 2018
      </div>
      <div class="form-elements">
        <h1>Se connecter</h1>
        <%= simple_form_for(resource, as: resource_name, html: {id: :registrate }, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <div class="regroup-elements">
              <div id="input-and-icon-email">
                <%= f.input :email, required: true, label: false, autofocus: true, placeholder:'Email' %>
                <span id="icon-envelope" class="fas fa-envelope"></span>
              </div>
              <%= f.input :remember_me, label: 'Se souvenir de moi', as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="regroup-elements">
              <div id="input-and-icon-password">
                <%= f.input :password, required: true, label: false, placeholder: 'Mot de passe' %>
                <span id="icon-lock" class="fas fa-lock"></span>
              </div>
              <%= link_to "Mot de passe oublié ?", new_user_password_path, id: 'forgot-password' %>
            </div>
          </div>
          <div class="sign-link">
            Pas encore de compte sur Pickalgo ? <%= link_to "Créér un compte", new_user_registration_path %>
          </div>
          <%= f.button :submit, "Connexion", class: "btn-orange", id:"connect-cta" %>
        <% end %>
      </div>
    </div>
    <div class="image-background" style="background-image: linear-gradient(rgba(241, 243, 247, 0.6) 50%, transparent 100%), url('https://res.cloudinary.com/djmp0ivep/image/upload/v1538480440/tags.jpg');">
    </div>
  </div>
</div>
