<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn fas fa-times"></a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <%= link_to pro_path(@pro) do %>
      <div class="link <%= 'selected-category' if @page == 'show'  %>"><i class="fas fa-tachometer-alt"></i> Paramètres</div>
    <% end %>
    <%= link_to products_path do %>
      <div class="link <%= 'selected-category' if @page == 'products'  %>"><i class="fas fa-box-open"></i> Produits</div>
    <% end %>
    <%= link_to my_campaigns_pro_path(@pro) do %>
      <div class="link <%= 'selected-category' if @page == 'campaigns'  %>"><i class="fas fa-flask"></i> Campagnes</div>
    <% end %>
     <%= link_to all_orders_pro_path(@pro) do %>
      <div class="link <%= 'selected-category' if @page == 'order'  %>" class="link"><i class="fas fa-clipboard-list"></i>Commandes</div>
    <% end %>
    <div class="link"><i class="fas fa-question-circle"></i> Aide</div>
    <div class="link"><i class="fas fa-envelope"></i> Nous contacter</div>
    <%= link_to destroy_pro_session_path, method: :delete do %>
      <div class="link"><i class="fas fa-power-off"></i> Déconnexion</div>
    <% end %>
  </div>

</div>
