

<%= render 'pros/navbar' %>
<%= render 'pros/right-links-dashboard' %>
<div class="dashboard-container">
  <%= render 'pros/dashboard-navigation' %>
  <div class="general-infos">
    <div class="campaigns-container">
      <h5>Vos commandes</h5>
        <% if @orders.present? %>
          <div class="table-container">
            <table>
              <tr class="first-left">
                <th>Commande</th>
                <th>Date</th>
                <th>Nom de la campagne</th>
                <th>Client</th>
                <th>Statut</th>
              </tr>
              <% @orders.each do |order| %>
                <tr class="tr-body">
                  <td>
                    <%= link_to order_path(order.id) do %>
                      <span>#<%= order.id %></span>
                    <% end %>
                  </td>
                  <td><%= order.created_at.strftime("%d/%m/%y")%></td>
                  <td><%= order.campaign.product.title %></td>
                  <td><%= order.pick.delivery_infos["first_name"].capitalize %> <%= order.pick.delivery_infos["last_name"].capitalize %></td>
                  <td>
                    <%= link_to order_path(order.id) do %>
                      <% if order.completed == true %>
                        <i class="fas fa-check-circle"></i> <span>Finalisée</span>
                      <% else %>
                        <i class="fas fa-pause-circle"></i> <span>A traiter</span>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        <% else %>
          <p>Pas de commandes à traiter</p>
        <% end %>

    </div>
  </div>
</div>
