

<%= render 'pros/navbar' %>
<%= render 'pros/right-links-dashboard' %>
<div class="dashboard-container">
  <%= render 'pros/dashboard-navigation' %>
  <div class="general-infos">
    <div class="campaigns-container">
      <h5>Vos campagnes</h5>
        <% if @campaigns.present? %>
          <div class="table-container">
            <table>
              <tr class="first-left">
                <th>Nom de la campagne</th>
                <th>Type de campagne</th>
                <th>Statut</th>
                <th>Détails</th>
              </tr>
              <% @campaigns.each do |campaign| %>
                <tr class="tr-body">
                  <td><%= campaign.product.title %></td>
                  <td><%= campaign.test_type %></td>
                  <% if campaign.finalized == true %>
                    <td class="closed"> <i class="fas fa-circle gray-icon"></i> <span>Finalisée</span></td>
                  <% else %>
                    <% if campaign.state == "ongoing" %>
                      <td class="ongoing"><i class="fas fa-circle red-icon"></i> <span>En cours</span></td>
                      <% else %>
                      <td class="closed"><i class="fas fa-circle green-icon"></i> <span>A finaliser</span></td>
                    <% end %>
                  <% end %>
                  <td><%= link_to promo_path(campaign) do %>
                        <i class="far fa-eye"></i>
                        <span>Consulter</span>
                      <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        <% else %>
          <p>Vous n'avez pas encore créé de campagne</p>
        <% end %>

    </div>
  </div>
</div>


