
<%= render 'pros/navbar' %>
<%= render 'right-links-dashboard' %>
<div class="dashboard-container">
  <%= render 'dashboard-navigation' %>
  <div class="general-infos">
    <div class="text-and-form">
      <div class="text-part">
        <h5>Informations générales</h5>
        <p>Pickalgo utilisera ces informations afin de vous contacter</p>
      </div>
      <div class="right-part info-bloc">
        <%= simple_form_for @pro do |f| %>
          <div class="form-inputs">
            <div class="input-and-icon">
              <%= f.input :brand, label: false, placeholder:'Marque ou raison sociale' %>
              <span class="icon fas fa-store"></span>
            </div>
            <div class="input-and-icon">
              <%= f.input :contact_person, placeholder:'Personne à contacter', label: false %>
              <span class="icon fas fa-user"></span>
            </div>
            <div class="input-and-icon">
              <%= f.input :email, label: false, placeholder:'Email' %>
              <span class="icon fas fa-envelope"></span>
            </div>
            <div class="input-and-icon">
              <%= f.input :phone, label: false, placeholder: 'Téléphone du contact' %>
              <span class="icon fas fa-phone"></span>
            </div>
          </div>
        <%= f.button :submit, "Enregistrer", class: "btn-blue", id:"save-cta" %>
      <% end %>
    </div>
  </div>
    <div class="text-and-form">
      <div class="text-part">
        <h5>Modifier votre mot de passe</h5>
        <p>Vous avez la possibilité de modifier votre mot de passe. Pour cela veuillez saisir votre mot de passe actuel, en choisir un nouveau de minimum 6 carractères, confirmez ce nouveau mot de passe puis enregistrez la modificiation.</p>
      </div>
      <div class="right-part info-bloc">
        <%= simple_form_for @pro, :url => update_password_pro_path(@pro), :method => :patch do |f| %>
          <div class="form-inputs">
            <div class="input-and-icon">
              <%= f.input :current_password, required: true, label: false, placeholder: 'Mot de passe actuel'%>
              <span class="icon fas fa-lock"></span>
            </div>
            <div class="input-and-icon">
              <%= f.input :password, required: true, label: false, placeholder: 'Nouveau mot de passe', hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length) %>
              <span class="icon fas fa-lock"></span>
            </div>
            <div class="input-and-icon">
              <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Confirmer le nouveau mot de passe' %>
              <span class="icon fas fa-lock"></span>
            </div>
          </div>
          <%= f.button :submit, "Changer mot de passe", class: "btn-blue", id:"password-cta" %>
        <% end %>
      </div>
  </div>
</div>




