
<%= render 'pros/navbar' %>
<%= render 'right-links-dashboard' %>
<div class="dashboard-container">
  <%= render 'dashboard-navigation' %>
  <div class="general-infos">
    <%= simple_form_for @pro do |f| %>
      <div class="text-and-form">
        <div class="text-part">
          <h5>Informations générales</h5>
          <p>Pickalgo utilisera ces informations afin de vous contacter</p>
        </div>
        <div class="right-part info-bloc">
          <div class="form-inputs">
            <div class="input-and-icon">
              <%= f.input :brand, label: false, placeholder:'Marque ou raison sociale' %>
              <span class="icon fas fa-store"></span>
            </div>
            <div class="input-and-icon">
              <%= f.input :contact_person, placeholder:'Personne à contacter', label: false %>
              <span class="icon fas fa-user"></span>
            </div>
            <div class="input-and-icon">
              <%= f.input :email, label: false, placeholder:'Email' %>
              <span class="icon fas fa-envelope"></span>
            </div>
            <div class="input-and-icon">
              <%= f.input :phone, label: false, placeholder: 'Téléphone du contact' %>
              <span class="icon fas fa-phone"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-and-form">
        <div class="text-part">
          <h5>Social & bio</h5>
          <p>Informations que pourront consulter les utilisateurs Pickalgo à propos de votre marque ou service. Ajoutez un bref historique sur votre marque ou service, ainsi que les liens vers vos pages sur les réseaux sociaux ou vous êtes présents. Les utilisateurs retrouveront ces informations lors d'une campagne dans la rubrique "A propos".</p>
        </div>
        <div class="right-part info-bloc">
        <div class="form-inputs">
          <div class="input-and-icon">
            <%= f.input :facebook, label: false, placeholder:'Votre page facebook' %>
            <span class="icon fab fa-facebook"></span>
          </div>
          <div class="input-and-icon">
            <%= f.input :insta, placeholder:'Votre page instagram', label: false %>
            <span class="icon fab fa-instagram"></span>
          </div>
          <div class="input-and-icon">
            <%= f.input :youtube, label: false, placeholder:'Votre page youtube' %>
            <span class="icon fab fa-youtube"></span>
          </div>
          <div class="input-and-icon">
            <%= f.input :twitter, label: false, placeholder: 'Votre page twitter' %>
            <span class="icon fab fa-twitter"></span>
          </div>
          <div class="input-and-icon">
            <%= f.input :bio, label: false, placeholder: 'Mini-bio: Décrivez votre marque ou service en quelques mots' %>
            <span class="icon fas fa-pen-fancy"></span
          </div>
        </div>
        </div>
      </div>
      <%= f.button :submit, "Enregistrer", class: "btn-blue", id:"save-cta" %>
    <% end %>
  </div>
</div>




