<%= render 'pros/navbar' %>
<%= render 'pros/right-links-dashboard' %>
<div class="dashboard-container">
  <%= render 'pros/dashboard-navigation' %>
  <div class="general-infos">
    <div class="campaigns-container">
      <h1>Campagne pour <%= @campaign.title.capitalize %></h1>
      <div class="stats">
        <div class="stat-block">
          <div class="top-block">
            <h3>Type de test</h3>
          </div>
          <div class="bottom-block">
            <i class="fas fa-poll"></i>
            <span><%= @campaign.test_type %></span>
          </div>
        </div>
        <div class="stat-block">
          <div class="top-block">
            <h3>Fin de la campagne</h3>
            <span><%= @campaign.expiration_date.strftime("%d/%m/%y") %></span>
          </div>
           <% if @campaign.ongoing? %>
            <div class="bottom-block">
              <i class="fas fa-circle red-icon"></i>
              <span>En cours</span>
            </div>
            <% else %>
            <div class="bottom-block">
              <i class="fas fa-circle gray-icon"></i>
              <span>Clôtuée</span>
            </div>
          <% end %>
        </div>
        <div class="stat-block">
          <div class="top-block">
            <h3>Nombre de visites</h3>
            <span><%= @campaign.views %></span>
          </div>
          <div class="bottom-block">
            <i class="far fa-eye"></i>
            <span><%= @campaign.views %></span>
          </div>
        </div>
        <div class="stat-block">
          <div class="top-block">
            <h3>Visites uniques</h3>
            <span><%= @uniq_views %>/<%= @campaign.views %></span>
          </div>
          <div class="bottom-block">
            <i class="fas fa-users"></i>
            <span><%= @uniq_views %></span>
          </div>
        </div>
        <div class="stat-block">
          <div class="top-block">
            <h3>Panier</h3>
            <span><%= @added_to_cart.count %>/<%= @uniq_views %></span>
          </div>
          <div class="bottom-block">
            <i class="fas fa-shopping-cart"></i>
            <span><%= @added_to_cart.count %></span>
          </div>
        </div>
        <div class="stat-block">
          <div class="top-block">
            <h3>Commandes</h3>
            <span><%= @validated_picks.count %>/<%= @added_to_cart.count %></span>
          </div>
          <div class="bottom-block">
            <i class="fas fa-credit-card"></i>
            <span><%= @validated_picks.count %></span>
          </div>
        </div>
      </div>
      <div class="data-block">
        <% if @validated_picks.any? %>
          <% if @campaign.ab_campaign? %>
            <div class="table-container">
              <%= render 'data-campaign-ab' %>
            </div>
          <% else %>
            <% if @campaign.finalized == true %>
              <div class="info-detail">Vous avez validé pour <%= sprintf('%.2f', @campaign.price_1.truncate(2)) %> € les commandes des testeurs ayant proposé un prix supérieur ou égal à ce celui-ci. Retrouvez ci-dessous l'intégralité des propositions d'achat qui avaient été émises par les testeurs.</div>
            <% else %>
              <div class="info-detail">Veuillez choisir le prix que vous allez accorder aux testeurs en fonction du CA, volume, marges... que vous souhaitez réaliser. Vous pouvez télécharger l'intégralité des données de la campagne afin de pouvoir imputer vos coûts en fonction des volumes réalisés par ligne de chiffre d'affaires, et donc calculer les marges qui en découlent.</div>
            <% end %>
            <div class="table-container">
              <%= render 'finalize-while-ongoing-modal' %>
              <%= render 'data-campaign-open' %>
            </div>
          <% end %>
        <% else %>
          <p class="orders">Pas encore de commande pour votre campagne.</p>
        <% end %>
      </div>

    </div>
  </div>
</div>


