<div class="page-container">
  <div class="form-and-image">
    <div class="registration-form">
      <%= link_to pros_path do %>
        <div class="logo-beta"><%= image_tag "logo.png", id: "logo", alt: "logo pickalgo color" %><br>©Beta 2019
        </div>
      <% end %>
      <div class="form-elements">
        <h1>Créer un compte pro</h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <p id="beta-limit">Créez un compte gratuitement pour lancer votre première campagne de test</p>
            <div class="form-inputs">
              <div class="input-and-icon">
                <%= f.input :brand, label: false, placeholder:'Votre marque ou raison sociale', autofocus: true %>
                <span class="icon fas fa-store"></span>
              </div>
              <div class="input-and-icon">
                <%= f.input :contact_person, placeholder:'Nom de la personne à contacter', label: false %>
                <span class="icon fas fa-user"></span>
              </div>
              <div class="input-and-icon">
                <%= f.input :email, label: false, placeholder:'Email du contact' %>
                <span class="icon fas fa-envelope"></span>
              </div>
              <div class="input-and-icon">
                <%= f.input :password, label: false, placeholder:'Mot de passe', hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length) %>
                <span class="icon fas fa-lock"></span>
              </div>
            </div>
            <%= f.button :submit, "Créer mon compte pro", class: "btn-orange", id:"registration-cta" %>
          <% end %>
      </div>
    </div>
    <div class="image-background" style="background-image: linear-gradient(rgba(241, 243, 247, 0.6) 50%, transparent 100%), url('https://res.cloudinary.com/djmp0ivep/image/upload/v1538480440/tags.jpg');">
    </div>
  </div>
</div>

