
<%= render 'pros/navbar' %>
<%= render 'pros/right-links-dashboard' %>
<div class="dashboard-container">
  <%= render 'pros/dashboard-navigation' %>
  <div class="general-infos">
    <div class="products-container">
      <div class="text-part">
        <h5>Vos produits</h5>
        <p>Retrouvez ici l'intégralité de vos produits.
         </p>
         <%= link_to new_product_path do %>
          <div class="btn-orange">Ajouter un produit</div>
         <% end %>
      </div>
      <% if @products.present? %>
      <div class="right-part">
        <%= render @products %>
      <% else %>
        <p>No products</p>
      <% end %>
      </div>
    </div>
  </div>
</div>
