
<%= render 'pros/navbar' %>
<%= render 'pros/right-links-dashboard' %>
<div class="dashboard-container">
  <%= render 'pros/dashboard-navigation' %>
  <div class="general-infos">
    <div class="products-container">
      <% if @pro.stripe_uid.blank? %>
        <%= render 'shared/no-pro-id' %>
      <% elsif @products.blank? %>
        <%= render 'shared/no-products' %>
      <% elsif @products.present? %>
        <div class="text-part">
          <h5>Vos produits</h5>
           <p>Retrouvez et gérez ici l'intégralité de vos produits.
            </p>
          <%= link_to new_product_path do %>
            <div class="btn-orange">Ajouter un produit</div>
          <% end %>
        </div>
        <div class="right-part product-feed">
            <div id="infinite-scrolling">
              <%= will_paginate @products %>
            </div>
            <%= render @products %>
        </div>
      <% end %>
    </div>
  </div>
</div>
