
<%= render 'pros/navbar' %>
<%= render 'pros/right-links-dashboard' %>
<div class="dashboard-container">
  <%= render 'pros/dashboard-navigation' %>
  <div class="general-infos">
    <div class="feed-container">
      <% if @pro.stripe_uid.blank? %>
        <%= render 'shared/no-pro-id' %>
      <% elsif @products.blank? %>
        <%= render 'shared/no-products' %>
      <% elsif @products.present? %>
        <div class="top-bloc">
          <div class="title-and-cta">
            <h5>Vos produits</h5>
            <%= link_to new_product_path do %>
              <i class="fas fa-plus"></i>
              <span class="hidden-xs">Ajouter un produit</span>
            <% end %>
          </div>
           <p>Retrouvez et gérez ici l'intégralité de vos produits.
            </p>
        </div>
        <div class="product-feed">
            <div id="infinite-scrolling">
              <%= will_paginate @products %>
            </div>
            <%= render @products %>
        </div>
      <% end %>
    </div>
  </div>
</div>
